.head{
    background-color: rgba(37, 45, 63, 1);
    
    font-family: roboto;
}
.head-content{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: roboto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 15px;
}


.menu{
    width: 100%;
    justify-content: space-evenly;
    font-family: roboto;
}
.digi{
    width: 180px;
}
.btn-call{
    width: 125px;
    height: 37px;
    left: 1579px;
    top: 120px;
    background: rgba(255, 36, 66, 1);
    color: rgba(255, 255, 255, 1);
    font-family: roboto;
    border-radius: 0;
    font-weight: 900;
    font-size: 19px;

}
.login{
    font-family: roboto;
}
.line1{
    font-family: roboto;
     font-weight: 500;
     font-size: 20px;
     line-height: 65px;
}
.line2{
    font-family: roboto;
     font-weight: 500;
     font-size: 20px;
     }
     .image{
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: 70px;
        padding-right: 70px;
     }
     .card-top{
        background-color: #252D3F !important;
   
    color: white;
    height: 230px;
    margin-bottom: 20px !important;
     }
     .card-bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px !important;
    
     }